@reference '../../../app/assets/styles/tw.main.style.css';

@layer components {
	.m-component-button-group {
		@apply mvue:inline-flex;
	}

	.m-component-button-group .m-component-button {
		--mvue-button-border-radius-top-left: 0rem;
		--mvue-button-border-radius-top-right: 0rem;
		--mvue-button-border-radius-bottom-right: 0rem;
		--mvue-button-border-radius-bottom-left: 0rem;
	}

	.m-component-button-group .m-component-button:first-child {
		--mvue-button-border-radius-top-left: 0.4rem;
		--mvue-button-border-radius-bottom-left: 0.4rem;
	}

	.m-component-button-group .m-component-button:last-child {
		--mvue-button-border-radius-top-right: 0.4rem;
		--mvue-button-border-radius-bottom-right: 0.4rem;
	}

	.m-component-button-group .m-button-rounded {
		--mvue-button-border-radius-top-left: 0rem;
		--mvue-button-border-radius-top-right: 0rem;
		--mvue-button-border-radius-bottom-right: 0rem;
		--mvue-button-border-radius-bottom-left: 0rem;
	}

	.m-component-button-group .m-button-rounded:first-child {
		--mvue-button-border-radius-top-left: 2rem;
		--mvue-button-border-radius-bottom-left: 2rem;
	}

	.m-component-button-group .m-button-rounded:last-child {
		--mvue-button-border-radius-top-right: 2rem;
		--mvue-button-border-radius-bottom-right: 2rem;
	}
}
