@reference '../../../app/assets/styles/tw.main.style.css';

@layer components {
	.m-component-input {
		@apply mvue:relative;
		@apply mvue:min-h-0;
		@apply mvue:h-4;
		@apply mvue:inline-flex mvue:flex-col mvue:gap-2 mvue:shrink-0;
		@apply mvue:select-none;
		@apply mvue:outline-none;
		@apply mvue:leading-none;
		@apply mvue:align-middle;
		@apply mvue:box-content;
		@apply mvue:appearance-none;
		@apply mvue:transition mvue:ease-in-out mvue:duration-150;

		padding: var(--mvue-input-padding-y, 0.61rem) var(--mvue-input-padding-x, 0.86rem);

		font-family: inherit;
		font-feature-settings: inherit;
		font-size: var(--mvue-input-font-size, 1rem);
		font-weight: 400;
		color: var(--mvue-input-text-color, oklch(14.1% 0.005 285.823)); /* zinc 950 */

		background-color: var(--mvue-input-bg-color, transparent); /* transparent */

		border-radius: var(--mvue-input-border-radius-top-left, 0.4rem) var(--mvue-input-border-radius-top-right, 0.4rem)
			var(--mvue-input-border-radius-bottom-right, 0.4rem) var(--mvue-input-border-radius-bottom-left, 0.4rem);

		border: 1px solid var(--mvue-input-border-color, oklch(92% 0.004 286.32)); /* zinc 200 */
	}

	.m-component-input::placeholder {
		font-family: inherit;
		font-feature-settings: inherit;
		font-size: var(--mvue-input-font-size, 1rem);
		font-weight: 400;
		color: var(--mvue-input-placeholder-text-color, oklch(70.5% 0.015 286.067)); /* zinc 400 */
	}

	.m-component-input:enabled:hover {
		--mvue-input-border-color: oklch(70.5% 0.015 286.067); /* zinc 400 */
	}

	.m-component-input:enabled:focus {
		--mvue-input-border-color: oklch(14.1% 0.005 285.823); /* zinc 950 */
	}

	.m-input-fluid {
		@apply mvue:w-full;
	}

	.m-component-input:disabled {
		@apply mvue:cursor-not-allowed;

		--mvue-input-bg-color: oklch(96.7% 0.001 286.375); /* zinc 100 */
	}

	.m-input-size-small {
		--mvue-input-font-size: 0.9rem;

		--mvue-input-padding-y: 0.485rem;
		--mvue-input-padding-x: 0.735rem;
	}

	.m-input-size-large {
		--mvue-input-font-size: 1.125rem;

		--mvue-input-padding-y: 0.735rem;
		--mvue-input-padding-x: 0.985rem;
	}
}
