@reference '../../../app/assets/styles/tw.main.style.css';

@layer components {
	.m-component-label {
		@apply mvue:inline-flex mvue:flex-col mvue:items-center mvue:justify-center mvue:gap-2;

		padding: var(--mvue-label-padding-y, 0.25rem) var(--mvue-label-padding-x, 0.5rem);
	}

	.m-component-label .row {
		@apply mvue:inline-flex mvue:flex-nowrap mvue:items-center mvue:justify-center mvue:gap-2;
		@apply mvue:leading-none;
	}

	.m-component-label .m-component-icon {
		@apply mvue:fill-black;

		min-width: var(--mvue-icon-width, 1rem);
		min-height: var(--mvue-icon-height, 1rem);
		max-width: var(--mvue-icon-width, 1rem);
		max-height: var(--mvue-icon-height, 1rem);
	}

	.icon-only {
		--mvue-label-padding-x: 0.25rem;
	}
}
